<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>New Product</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="../dist/css/album.css" rel="stylesheet">
    <link rel="stylesheet" href="../dist/css/style.css">
    <link rel="stylesheet" href="../dist/css/left-nav-style.css">

</head>
<header>
    <form></form>

    <input type="checkbox" id="nav-toggle" hidden>
    <nav class="nav">
        <label for="nav-toggle" class="nav-toggle" style="left: 0; position: fixed"></label>
        <h2 class="logo">
            <a href="" class="text-light">Recipe for success</a>
        </h2>
        <ul>
            <li><a href="/app/mainPage">Главная</a>
            <li><a href="/app/personalAccountPage">Личный кабинет</a>
            <li><a href="/app/barPage">Мой бар</a>
            <li><a href="/app/newProductPage">Добавить рецепт</a>
        </ul>
    </nav>
</header>
<body>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row" style="place-content: center">
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Новый продукт</h4>
                    <div class="mb-3">
                        <label for="title">Название</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="title" placeholder="product title"
                                   value="{{template.title}}" required>
                            <div class="invalid-feedback" style="width: 100%;">
                                Product title is required.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="image">Изображение <span class="text-muted">(Не обязательно)</span></label>
                        <input type="file" class="form-control" id="image">
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>
                    {{#isEmpty}}
                    {{#template.recipe}}
                        <step>
                            <input type="number" hidden="true" name="id" value="{{id}}">
                            <h5 class="card-title">Шаг№{{number}}</h5>
                            <div class="mb-3">
                                <label for="image">Изображение <span class="text-muted">(Не обязательно)</span></label>
                                <input type="file" class="form-control" id="image">
                                <div class="invalid-feedback">
                                    Please enter a valid email address for shipping updates.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="desc">Описание</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="desc" placeholder="product title"
                                           value="{{desc}}" required>
                                    <div class="invalid-feedback" style="width: 100%;">
                                        Product title is required.
                                    </div>
                                </div>
                            </div>
                            {{#ingredients}}
                                <ingredient>
                                    <div class="mb-3">
                                        <label for="title">Название</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="title"
                                                   placeholder="product title" value="{{product.title}}" required>
                                            <div class="invalid-feedback" style="width: 100%;">
                                                Product title is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="title">Описание</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="title"
                                                   placeholder="product title" value="{{desc}}" required>
                                            <div class="invalid-feedback" style="width: 100%;">
                                                Product title is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="min_price">Минимальная цена</label>
                                        <input type="number" step=0.01 class="form-control" id="min_price"
                                               placeholder="" value="{{minPrice}}" required>
                                        <div class="invalid-feedback">
                                            Valid first name is required.
                                        </div>
                                    </div>
                                </ingredient>
                            {{/ingredients}}
                        </step>
                    {{/template.recipe}}
                    {{/isEmpty}}

                    <new_step>
                        <hr />
                        <h5 class="card-title">Новый шаг</h5>
                        <form action="/app/newProductPage/addStep" method="get">
                        <div class="mb-3">
                            <label for="image">Изображение <span class="text-muted">(Не обязательно)</span></label>
                            <input type="file" class="form-control" id="image">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="desc">Описание</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="desc" placeholder="step description"
                                       value="" required>
                                <div class="invalid-feedback" style="width: 100%;">
                                    Product title is required.
                                </div>
                            </div>
                        </div>
                        <new_ingredient>
                            <div class="row" style="place-content: center">
                                <div class="col-md-13 mb-3">
                                    <label for="title">Название ингридиента</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="title"
                                               placeholder="product title" required>
                                        <div class="invalid-feedback" style="width: 100%;">
                                            Product title is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-13 mb-3">
                                    <label for="title">Количество</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="title"
                                               placeholder="product title" required>
                                        <div class="invalid-feedback" style="width: 100%;">
                                            Product title is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-13 mb-3">
                                    <label for="title">Мера</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="title"
                                               placeholder="product title" required>
                                        <div class="invalid-feedback" style="width: 100%;">
                                            Product title is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </new_ingredient>
                        <input type="number" hidden="true" name="id" value="{{template.id}}">
                        <button type="submit" class="btn btn-sm btn-outline-secondary">Add step</button>
                    </form>
                </new_step>

                    <hr class="mb-4">


                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Сохранить рецепт</button>
            </div>
        </div>
    </div>
</div>


<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>&copy; Recipe of success, наша команда трудится, чтобы в вашей жизни было больше незабываемых моментов!</p>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../dist/js/jquery-slim.min.js"><\/script>')</script>
<script src="../dist/js/popper.min.js"></script>
<script src="../dist/js/bootstrap.min.js"></script>
<script src="../dist/js/holder.min.js"></script>
</body>

</html>
